.mapRow {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 100%;
}

#marker {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background:url(https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/256/Map-Marker-Marker-Outside-Azure.png) no-repeat top center;
  background-size:100%;
  opacity: 1;
  cursor: move;
}

.customSlider {
  /* max width of your slider */
  max-width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
  z-index: 1;
}

.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map {
  width: 100vw;
  height: 100vh;
}

.header-buttons {
  all: unset;
  flex: 1;
  flex-direction: row;
  margin-left: 10%; 
  position: absolute;
  top: 2%;
  right: -2%;
  align-self: center;
  justify-content: space-between;
  column-gap: 2%;
  background-color: transparent;
  /* border-width: 0.5px; */
  /* border-radius: 20px; */
}


.footer-buttons {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 350px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.button {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1;
}
